h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-text-color: #434455;
  --toptitle-text-color: #2e2f42;
  --accent-text-color: #4d5ae5;
  --title-text-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --social-icon-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--title-text-color);
  font-size: 16px;
}

.list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--toptitle-text-color);
  margin-bottom: 72px;
}

.section-suptitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--toptitle-text-color);
}

.section-text {
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border: 1px solid var(--footer-text-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
  font-size: 18px;
  line-height: 1.3;
  color: var(--toptitle-text-color);
}

.header-logo-accent {
  color: var(--accent-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  color: var(--toptitle-text-color);
  display: block;
  padding: 24px 0;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-after {
  position: relative;
  color: var(--accent-text-color);
}

.header-link-after::after {
  content: "";
  text-decoration: underline;
  position: absolute;
  display: block;
  margin-top: 22px;
  width: 100%;
  height: 4px;
  background: var(--accent-text-color);
  border-radius: 2px;
} 

.contacts-address {
  font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--toptitle-text-color);
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../imeges/main-page/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  max-width: 500px;
  margin: auto;
  font-size: 56px;
  line-height: 1.07;
  color: var(--title-text-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  padding: 16px 32px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: visibility, opacity var(--footer-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn-icon {
  transition: fill var(--footer-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--title-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-card {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-icon-color);
}

.feature-icon {
  width: 64px;
  height: 64px;
}

.feature-item {
  flex-basis: calc((100% - 72px) / 4);
  width: 264px;
}

.feature-item:not(:last-child) {
  margin-right: 24px;
}

.feature-title {
  margin-bottom: 8px;
  margin-top: 8px;
}

.gallery {
  padding-top: 0;
  text-align: center;
}

.gallery-item:not(:last-child) {
  margin-right: 24px;
}

.team {
  background-color: var(--social-icon-color);
  text-align: center;
}

.team-item {
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-suptitle {
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-social-list {
  justify-content: center;
  margin-top: 8px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-item:not(:last-child) {
  margin-right: 24px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: var(--social-icon-color);
}

.customers {
  text-align: center;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-item:not(:last-child) {
  margin-right: 24px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property:  border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #8e8f99;
  transition-property:  fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-text-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-text-color);
}

.footer {
  background-color: var(--toptitle-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--social-icon-color);
}

.footer-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--footer-text-color);
  margin-top: 8px;
  max-width: 264px;
}

.social {
  margin-left: 120px;
}

.strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.social-list {
  margin-top: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property:  background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  padding-top: 96px;
}

.filters-list {
  display: flex;
  justify-content: center;
}

.filters-item {
  display: block;
}

.filters-item:not(:last-child) {
  margin-right: 24px;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--title-text-color);
  border: 1px solid var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--accent-text-color);
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--footer-text-color);
  transition-property: background-color, color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}

.project-item {
  flex-basis: calc((100% - 48px) / 3);
}

.card {
  border: 1px solid var(--footer-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-title {
  margin-bottom: 8px;
}

.project-link-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--social-icon-color);
  background-color: var(--accent-text-color);
  padding: 40px 32px 164px 32px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0);
}
